<html>
    <body class="bgimage">
<div class="container">
    <div class="row">
    <div class='table-responsive'>
    <table class="table table-bordered" border="4">
        <thead>
            <tr>
                <th>item_id</th>
                <th>item_name</th>
                <th>item_description</th>
                <th>item_price</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of items">
               <td>{{c.item_id}}</td>
               <td>{{c.item_name}}</td>
               <td>{{c.item_description}}</td>
               <td>{{c.item_price}}</td>
        
                </tr>
        </tbody>
    </table>
    
    </div>
    </div>
    
    </div>
</body>

</html>


