.user-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .bgimage {
    background-image: url(/assets/images/userlist.jpg);
    background-position: center;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #cccccc; */

  }