<html>
    <body class="bgimage">
<div class="container">
    <div class="row">
    <div class='table-responsive'>
    <table class="table table-bordered" border="4">
        <thead>
            <tr>
                <th>item_id</th>
                <th>item_name</th>
                <th>item_description</th>
                <th>item_price</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of items">
               <td>{{c.item_id}}</td>
               <td>{{c.item_name}}</td>
               <td>{{c.item_description}}</td>
               <td>{{c.item_price}}</td>
               <td><button class="btn btn-success"  style="margin-left: 20px;" (click)="add(c)"> Add to cart</button></td>
               
                </tr>
        </tbody>
    </table>
    <div class="mt-4 pt-2">
        <input class="btn btn-primary btn-lg" type="button" (click)="onSubmit1()"  value="Back" />
      </div>
    </div>
    </div>
    
    </div>
</body>

</html>

