<br><br>
<div>
<h4 style="text-align: center">The Bill Amount is: {{totalBill}}</h4><br>
<button class="btn btn-success"  style="margin-left: 700px;position: relative;" (click)="onCheck4()"> Do Payment</button>
<!-- <div class="mt-4 pt-2">
    <input class="btn btn-primary btn-lg" type="button" (click)="onSubmit1()"  value="Back" />
</div> -->
</div>
<div style="margin: 40px 0px 0px 710px">
    <button class="btn btn-success"  style="margin-left: 20px;position: relative;" (click)="onSubmit1()">Back</button>
</div>
    

