<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

</head>
<body class="bgimage">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" [routerLink]="['home']" [routerLinkActive]="['active']">Home</a>

  
  <ul class="navbar-nav">
    <!-- <li class="nav-item">
      <a class="nav-link" type="button" (click)="onClick()">User Details List</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="/update-customer">Link 2</a>
    </li> -->

    
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li> -->
    
    <li class="nav-item">
        <a class="nav-link" >About</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" >update-customer</a>
      </li> -->

  </ul>
  <!-- <button class="btn btn-success"  style="margin-left: 20px;position: relative;" (click)="onTouch4()" > Add Item</button> -->
  <button class="btn btn-success"  style="margin-left: 20px;position: relative;" (click)="onTouch()" > Update Profile</button>
  <button class="btn btn-success"  style="margin-left: 20px;position: relative;" (click)="onCheck()"> Cart</button>

  <button class="btn btn-success"  style="margin-left: 20px;position: relative;" (click)="onCheck3()"> Item</button>

    <a href="/login" style="margin-left: 950px;" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>

</nav>
<br>
  
<h2 style="color: rgb(223, 139, 139);">Welcome </h2>

</body>
</html>
